<h1>Find a restaurant for you</h1>
<h2>Restaurant's list</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %>
    </li>
  <% end %>
  <p id="Add_Rest"><%= link_to 'Add my restaurant', new_restaurant_path(@restaurant) %></p>
</ul>
