<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%# Review.create!(id: 2, content: "Very good cuisine", rating: 5, restaurant_id: 6) %>
<%# This code is no longer usefull, because it is nested in the restaurant page now. %>
